{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- content
		================================================== -->
    <section class="s-content s-styles">


        <div class="row">

            <div class="column large-6 tab-12">

                <h3 class="h-add-bottom">Registration form</h3>

                <form method="post">
                    {% csrf_token %}

                    {{ form }}

                    <input class="btn--primary h-full-width" type="submit" value="{{ button_text }}">
                </form>

            </div>

            <div class="column large-6 tab-12">

                {% if message %}
                    {% if type == 'error' %}
                        <div class="alert-box alert-box--error">
                            <p>{{ message }}</p>
                            <span class="alert-box__close"></span>
                        </div><!-- end error -->
                    {% else %}
                        <div class="alert-box alert-box--success">
                            <p>{{ message }}</p>
                            <span class="alert-box__close"></span>
                        </div><!-- end success -->
                    {% endif %}
                {% endif %}

            </div>

        </div> <!-- end row -->

    </section> <!-- end s-content -->

{% endblock %}