{% load static %}
{% block header %}
    <!-- header================================================== -->
{#    TODO make correct links in navigation #}
    <header class="s-header">

        <div class="row s-header__content">

            <div class="s-header__logo">
                <a class="logo" href="{% url 'home' %}">
                    <img src="{% static 'home/images/logo.svg' %}" alt="Homepage">
                </a>
            </div>

            <nav class="s-header__nav-wrap">

                <h2 class="s-header__nav-heading h6">Site Navigation</h2>

                <ul class="s-header__nav">
                    <li class="current"><a href="{% url 'home' %}">Home</a></li>
                    <li class="has-children">

                        <a href="#" title="">Categories</a>
                        <ul class="sub-menu">
                            {% for category in categories %}
                                <li><a href="{% url 'category' category.text %}">{{ category.text }}</a> </li>
                            {% endfor %}
                        </ul>
                    </li>
                    
                    {% if user.is_authentificated %}
                        <li><a href="{% url 'logout' %}">Logout</a> </li>
                        <li><a href="{% url 'change_password' %}">Change password</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
                        <li><a href="{% url 'reset_password' %}">Reset password</a></li>
                    {% endif %}
                    <li><a href="#" title="">About</a></li>
                </ul> <!-- end header__nav -->

                <a href="#" title="Close Menu" class="s-header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end header__nav-wrap -->

            <a class="s-header__toggle-menu" href="#" title="Menu"><span>Menu</span></a>

            {% include 'search_bar.html' %}

        </div> <!-- end s-header__content -->

    </header> <!-- end header -->
{% endblock %}