{% load static %}
{% block header %}
    <!-- header================================================== -->
    <header class="s-header">

        <div class="row s-header__content">

            <div class="s-header__logo">
                <a class="logo" href="#">
                    <img src="{% static 'home/images/logo.svg' %}" alt="Homepage">
                </a>
            </div>

            <nav class="s-header__nav-wrap">

                <h2 class="s-header__nav-heading h6">Site Navigation</h2>

                <ul class="s-header__nav">
                    <li class="current"><a href="#" title="">Home</a></li>
                    <li class="has-children">
                        <a href="#" title="">Categories</a>
                        <ul class="sub-menu">
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Photography</a></li>
                            <li><a href="#">Vacation</a></li>
                            <li><a href="#">Work</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">Family</a></li>
                            <li><a href="#">Relationship</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <a href="#" title="">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="#">Video Post</a></li>
                            <li><a href="#">Audio Post</a></li>
                            <li><a href="#">Gallery Post</a></li>
                            <li><a href="#">Standard Post</a></li>
                        </ul>
                    </li>
                    <li><a href="#" title="">Styles</a></li>
                    <li><a href="#" title="">About</a></li>
                    <li><a href="#" title="">Contact</a></li>
                </ul> <!-- end header__nav -->

                <a href="#" title="Close Menu" class="s-header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end header__nav-wrap -->

            <a class="s-header__toggle-menu" href="#" title="Menu"><span>Menu</span></a>

            {% include 'search_bar.html' %}

        </div> <!-- end s-header__content -->

    </header> <!-- end header -->
{% endblock %}